apiVersion: v1
kind: ConfigMap
metadata:
  name: irmgard-configmap
  namespace: irmgard
  labels:
    app: irmgard
data:
  POSTGRES_HOST: postgresql-svc.database.svc.cluster.local
  MINIO_ENDPOINT: minio-service.minio.svc.cluster.local
  POSTGRES_DATABASE: postgres
  RABBITMQ_HOST: rabbitmqsvc